.bio {
    border-top: 5px solid #101010;
    padding: 5% 3%;

    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-weight: bold;


    &__photo {
        width: 30%;
    }

    &__content {
        width: 70%;
        padding: 5% 10%;
        color: #5aeda4;
        text-align: center; 
    }

    &__title {
        font-size: 35px;
    }
}

.bio:hover {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}