.footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1% 10%;
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat';
    text-align: center;
    align-items: center;
}