.header {
    width: 100%;
    
    font-family: 'Montserrat';
    

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 5%;
    }

    &__nav {
        width: 52%;
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: bold;
    }

    &__link {
        width: 19%;
        color: #5aeda4;
        text-decoration: none;
    }
    &__link:hover{
        border-bottom: 2px solid #5aeda4;
    }

    &__title {
        text-align: center;
        margin-top: 20%;
        margin-bottom: 20%;
        font-size: 60px;
    }
}

.sidenav {
    display: none;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 ширина - изменить это с помощью JavaScript */
    position: fixed; /* Оставайтесь на месте */
    z-index: 1; /* Оставайтесь сверху */
    top: 0; /* Оставайтесь наверху */
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    padding-top: 60px; /* Поместите контент в 60px сверху */
    transition: 0.5s; /* 0.5 второй эффект перехода слайда в боковой навигации */
  }
  
  /* Ссылки меню навигации */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* Когда вы наводите курсор мыши на навигационные ссылки, изменяется их цвет */
  .sidenav a:hover {
    color: #5aeda4;
  }
  
  /* Положение и стиль кнопки закрытия (верхний правый угол) */
  .sidenav .closebtn {
    position: absolute;
    top: 2px;
    right: 31px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Стиль содержимого страницы - используйте это, если вы хотите сдвинуть содержимое страницы вправо при открытии боковой навигации */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  

  .opnBtn-container {
      display: none;
  }
  /* На экранах меньшего размера, где высота меньше 450px, измените стиль sidenav (меньше отступов и меньший размер шрифта) */
  