@charset "UTF-8";
body {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  margin: 2% 5% 0%;
  color: #5aeda4;
}

.header {
  width: 100%;
  font-family: "Montserrat";
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 5%;
}
.header__nav {
  width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: bold;
}
.header__link {
  width: 19%;
  color: #5aeda4;
  text-decoration: none;
}
.header__link:hover {
  border-bottom: 2px solid #5aeda4;
}
.header__title {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
  font-size: 60px;
}

.sidenav {
  display: none;
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 ширина - изменить это с помощью JavaScript */
  position: fixed;
  /* Оставайтесь на месте */
  z-index: 1;
  /* Оставайтесь сверху */
  top: 0;
  /* Оставайтесь наверху */
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  /* Отключить горизонтальную прокрутку */
  padding-top: 60px;
  /* Поместите контент в 60px сверху */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 второй эффект перехода слайда в боковой навигации */
}

/* Ссылки меню навигации */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Когда вы наводите курсор мыши на навигационные ссылки, изменяется их цвет */
.sidenav a:hover {
  color: #5aeda4;
}

/* Положение и стиль кнопки закрытия (верхний правый угол) */
.sidenav .closebtn {
  position: absolute;
  top: 2px;
  right: 31px;
  font-size: 36px;
  margin-left: 50px;
}

/* Стиль содержимого страницы - используйте это, если вы хотите сдвинуть содержимое страницы вправо при открытии боковой навигации */
#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding: 20px;
}

.opnBtn-container {
  display: none;
}

/* На экранах меньшего размера, где высота меньше 450px, измените стиль sidenav (меньше отступов и меньший размер шрифта) */
.bio {
  border-top: 5px solid #101010;
  padding: 5% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: bold;
}
.bio__photo {
  width: 30%;
}
.bio__content {
  width: 70%;
  padding: 5% 10%;
  color: #5aeda4;
  text-align: center;
}
.bio__title {
  font-size: 35px;
}

.bio:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.gallery {
  border-top: 5px solid #101010;
  padding-bottom: 5%;
  width: 100%;
  text-align: center;
  font-family: "Montserrat";
}
.gallery__title {
  font-size: 35px;
}
.gallery__slide {
  width: 100%;
  overflow: hidden;
}
.gallery__photo {
  width: 100%;
}

.slider {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.btn {
  width: 80px;
  height: 80px;
  background: none;
  border-radius: 50%;
  border: 1px solid #5aeda4;
  color: white;
}

.btn:hover {
  color: #5aeda4;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.accordion {
  background: none;
  cursor: pointer;
  color: #5aeda4;
  padding: 18px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #5aeda4;
  outline: none;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion:hover {
  color: #00a151;
  border-bottom: 2px solid #00a151;
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.panel:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.facts__container {
  font-family: "Montserrat";
  color: #5aeda4;
  margin: 5% 17%;
}
.facts__title {
  text-align: center;
  font-size: 35px;
}
.facts__subtitle {
  text-align: center;
  margin-bottom: 7%;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1% 10%;
  margin-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Montserrat";
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 769px) {
  .header__nav {
    width: 62%;
  }
}
@media screen and (max-width: 1024px) {
  .header__logo {
    width: 9%;
  }
}
@media screen and (max-width: 1000px) {
  .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header__title {
    font-size: 44px;
  }

  .facts__container {
    margin: 5% 10%;
  }

  .sidenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .opnBtn-container {
    display: block;
    margin-left: 200px;
  }

  .header__nav {
    display: none;
  }

  .header__link {
    width: 50%;
  }

  .btn {
    width: 60px;
    height: 60px;
    font-size: 10px;
  }

  .slider {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .accordion {
    font-size: 15px;
    font-weight: bold;
  }

  .facts__container {
    margin: 5% 0%;
  }
  .facts__title {
    font-size: 25px;
  }

  .bio__subtitle {
    display: none;
  }

  .btn {
    width: 40px;
    height: 40px;
    font-size: 7px;
  }

  .slider {
    width: 60%;
  }
}
@media screen and (max-width: 425px) {
  .header__title {
    font-size: 35px;
  }

  .bio__title {
    font-size: 26px;
  }
}